---
version: "2.1"
services:
  overseerr:
    image: lscr.io/linuxserver/overseerr
    container_name: overseerr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /home/tcude/docker/overseerr/config:/config
    ports:
      - 5055:5055
    restart: unless-stopped
